.page-container {
  width: 100%;
  background-image:url('../images/cape-town.jpg');
  background-size: cover;
}

section {
  margin-top: 1em;
}

.intro {
  background-color: white;
  padding: 2em 10em;
  font-size:1.3em;
  text-align: center;
}

.Q {
  margin: 0 auto;
  width: 40em;
  border: 40px solid lightblue;
  background-color: #ffffffc4;

}

.question-content {
  display: flex;
  max-height: 20em;
}

.funnypic {
  width: 25em;
  margin-left: 1em;
}

#hyenah {
    background-image: url('../images/hyena.png');
  background-size: cover;
}

#kite {
    background-image: url('../images/Kite.jpg');
  background-size: cover;
}

#braai {
     background-image: url('../images/braai.jpg');
  background-size: cover;
}

.question {
  width: 100%;
  padding: 2em 0;
  text-align: center;

}

.question p {
  margin: auto;
  font-size: 1.2em;
}

.answers {
  width: 5em;
  height:15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4em


}

.yes, .no {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1em 0
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.answer-border-yes {
  border: 0.5em solid grey;
}

.help {
  background-color: yellow;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em;
}

.help p{
  padding: 0.2em;
  text-align: center;
}

.submit-section {
  display: flex;
  width: 100%;
}

.submit {
  padding: 1.3em;
  width: 20em;
  color: white;
  font-size: 1.2em;
  text-align: center;
  background-color: #c31c1c;
  display: inline-block;
  margin: auto;
}

.submit-section a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.secretpassword {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em;
}

.Correct-Message p {
  font-size: 2em;
  width:100%;
  color: green;
  position: block;
  text-align: center;
}

#user-input {
  width: 30em;
  padding: 1em
}

.reveal {
  height: auto;
  display: flex;
  align-items: center;
  background-color: #c31c1c;
  padding: 0 1em;

}

.reveal p {
  color: white;
}

.message {
  display: flex;
  justify-content: center;
}

.message-text {
  width: 50%;
  font-size: 1.2em;
  padding: 0.5em;
}

.yes, .no, .submit, .reveal {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {

    .Q {
      width: auto;
      border: 20px solid lightblue;
    }

    .intro {
      padding: 1.2em;
    }

    .answers {
    width: auto;
    height: auto;
    flex-direction: row;
    margin-left: 0; }

    .funnypic {
    width: auto;
    margin-left: 0em;
    height: 20em;
}

.question-content {
    max-height: 30em;
    flex-direction: column; }

    .question p {
    margin: auto;
    font-size: 1.1em;
  }

    .yes, .no {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1em 1em;
}

.help {
  font-size: 1em;
}

.secretpassword {
    width: auto;
  }

  .reveal p {
    color: white;
    text-align: center;
  }

.message-text {
    width: auto;
    padding: 1em;
}
}
